.table-data_item{
    font-size: 23px;
}

.table-data_item-input {
    padding: 20px 100px;
    margin: 15px 20px;
    border: 3px solid #BBBBBB;
    border-radius: 7px;
    font-size: 23px;
    font-weight: bold;
}

.table-data_item-radio{
    width: 30px;
    height: 30px;
}

.table-data_item-radio {
    width: 30px;
    height: 30px;
}